# Dependencies
node_modules

# Logs
*.log*
.jiti-cache

# Temp directories
.temp
.tmp
.cache



# Yarn
**/.yarn/cache
**/.yarn/*state*

# Generated dirs
dist
playwright-report/

# Nuxt
.nuxt
.output
.vercel_build_output
.build-*
.env
.netlify

# Env
.env

# Testing
reports
coverage
*.lcov
.nyc_output
temp
tsconfig.vitest-temp.json
test-results

# VSCode
.vscode

# Intellij idea
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# AWS
/.aws/credentials
