.formkit-inner:focus-within .formkit-icon.formkit-prefix {
  color: var(--fk-color-primary);
}
.formkit-icon {
  width: 2.5em;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  align-self: stretch;
  user-select: none;
}
.formkit-icon.formkit-prefix {
  border-radius: var(--fk-border-radius-tl) 0 0 var(--fk-border-radius-bl) ;
  background: var(--fk-bg-decorator);
  box-shadow: 1px 0 0 0 rgba(0,0,0,0.33);
}
[data-type="button"] .formkit-icon.formkit-prefix,
[data-type="submit"] .formkit-icon.formkit-prefix {
  background: none;
  box-shadow: none;
}
.formkit-icon.formkit-suffix {
  width: 1.75em;
  padding-left: 0em;
  padding-right: 0.75em;
}
.formkit-icon svg {
  margin: auto;
  max-height: 1em;
  max-width: 1em;
}
