[data-type="file"] {
  & .formkit-no-files,
  & .formkit-file-list {
    padding: var(--fk-padding-input);
    margin: 0;
  }

  & .formkit-no-files,
  & .formkit-file-item {
    display: flex;
    flex-grow: 1;
    align-items: center;
    font-size: var(--fk-font-size-input);
    line-height: var(--fk-line-height-input);
    position: relative;

    & + .formkit-file-item {
      margin-top: var(--fk-padding-input-t);
    }

    &::before {
      content: "";
      display: block;
      width: 14px;
      height: 16px;
      flex: 0 0 14px;
      margin-right: var(--fk-padding-input-l);
      background-color: var(--fk-color-icon);
      clip-path: path("M11.68,4.29,8.94,1.38a3.16,3.16,0,0,0-2-.88H2A1.5,1.5,0,0,0,.5,2V14A1.5,1.5,0,0,0,2,15.5h9A1.5,1.5,0,0,0,12.5,14V6.36A3.44,3.44,0,0,0,11.68,4.29ZM11,5a2.37,2.37,0,0,1,.38.65H8.12c-.2,0-.42-.26-.42-.64V1.73a1.81,1.81,0,0,1,.51.34ZM11,14.5H2a.5.5,0,0,1-.5-.5V2A.5.5,0,0,1,2,1.5H6.7V5A1.54,1.54,0,0,0,8.12,6.62H11.5V14A.5.5,0,0,1,11,14.5Z");
      pointer-events: none;
    }
  }

  & .formkit-file-remove {
    appearance: none;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    font-size: var(--fk-font-size-remove);
    color: var(--fk-color-primary);
    bottom: calc(var(--fk-padding-input-b) + (1em - var(--fk-font-size-remove)));
    left: calc(var(--fk-padding-input-l) + (1em - var(--fk-font-size-remove)));
    display: block;
    z-index: 5;
    cursor: pointer;

    &:hover {
      color: var(--fk-color-danger);
    }
  }

  & .formkit-file-item .formkit-file-remove {
    position: absolute;
    margin-left: auto;
    margin-right: 0;
    bottom: auto;
    left: auto;
    text-indent: -9999px;
    color: transparent;
    right: 0;
    font-size: 0;
    line-height: 0;

    &::after {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      right: 0;
      background-color: var(--fk-color-icon-minor);
      clip-path: path("M16.41,16l3.3-3.29a1,1,0,0,0-1.42-1.42L15,14.59l-3.29-3.3a1,1,0,0,0-1.42,1.42L13.59,16l-3.3,3.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L15,17.41l3.29,3.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z");
    }

    &:hover::after {
      background-color: var(--fk-color-danger);
    }
  }

  & .formkit-no-files {
    color: var(--fk-color-placeholder);

    &::before {
      background-color: var(--fk-color-placeholder);
    }
  }

  & .formkit-file-list {
    width: 100%;

    &[data-has-multiple] {
      margin-bottom: calc(var(--fk-padding-input-b) + var(--fk-font-size-remove) * 1.1);
    }
  }

  & .formkit-input {
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 2;
    color: transparent;

    &::file-selector-button {
      appearance: none;
      font-size: 0;
      padding: 0;
      border: 0;
    }

    &[data-file-hover] {
      animation: glow 0.75s infinite alternate;
    }
  }
}
