[data-type="select"] {
  &:not([data-multiple]) {
    & .formkit-inner {
      &::after {
        content: "";
        display: block;
        height: 1em;
        width: 1em;
        pointer-events: none;
        position: absolute;
        right: 0.5em;
        clip-path: path("M8,11.01C7.792,11.01 7.592,10.931 7.446,10.79L2.75,6.272C2.606,6.132 2.525,5.943 2.525,5.745C2.528,5.33 2.88,4.99 3.308,4.99C3.513,4.99 3.71,5.068 3.857,5.208L8,9.193L12.143,5.208C12.289,5.068 12.487,4.99 12.692,4.99C13.119,4.99 13.472,5.329 13.475,5.743C13.475,5.942 13.394,6.132 13.25,6.272L8.553,10.79C8.406,10.931 8.207,11.011 8,11.01Z");
      }
    }
  }
}
