@import "variables.css";

.formkit-outer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 1.5em;
  max-width: 25em;
}

.formkit-wrapper {
  @nest [data-type="checkbox"] label&,  [data-type="radio"] label& {
    font-size: inherit;
    display: inline-flex;
    vertical-align: bottom;
    user-select: none;
    align-items: center;
    line-height: 100%;
  }
}

.formkit-legend {
  display: block;
  font-size: var(--formkit-label-font-size);
  font-weight: var(--formkit-label-font-weight);
  margin: var(--formkit-legend-margin);
  padding: var(--formkit-legend-padding);
}

.formkit-label {
  display: block;
  font-size: var(--formkit-label-font-size);
  font-weight: var(--formkit-label-font-weight);
  margin: var(--formkit-label-margin);
  align-items: center;

  @nest [data-type="checkbox"] &, [data-type="radio"] & {
    font-weight: normal;
    margin: var(--formkit-checkbox-target-margin);
  }
}

.formkit-inner {
  border: var(--formkit-border);
  border-radius: var(--formkit-border-radius);
  position: relative;
  display: flex;
  align-items: center;

  @nest [data-type="select"]:not([data-multiple]) &:after {
    background-color: var(--formkit-icon-color);
    content: "";
    display: block;
    height: 1em;
    pointer-events: none;
    position: absolute;
    right: 0.5em;
    width: 1em;
    clip-path: path("M8,11.01C7.792,11.01 7.592,10.931 7.446,10.79L2.75,6.272C2.606,6.132 2.525,5.943 2.525,5.745C2.528,5.33 2.88,4.99 3.308,4.99C3.513,4.99 3.71,5.068 3.857,5.208L8,9.193L12.143,5.208C12.289,5.068 12.487,4.99 12.692,4.99C13.119,4.99 13.472,5.329 13.475,5.743C13.475,5.942 13.394,6.132 13.25,6.272L8.553,10.79C8.406,10.931 8.207,11.011 8,11.01Z");
  }

  @nest [data-type="checkbox"] &, [data-type="radio"] & {
    border: 0;
    display: inline-block;
  }
}

.formkit-inner:focus-within {
  border-color: var(--formkit-focus-border-color);
}

.formkit-input {
  appearance: none;
  background-color: var(--formkit-input-background-color, transparent);
  border: 0;
  border-radius: var(--formkit-border-radius);
  box-sizing: border-box;
  color: var(--formkit-input-text-color);
  display: block;
  font-size: 1em;
  margin: 0;
  padding: var(--formkit-input-padding);
  width: 100%;

  &[multiple] {
    padding: 0;

    & option {
      padding: var(--formkit-input-padding);
    }
  }

  @nest select& {
    padding-right: 1.875em;

    &[data-placeholder]:not([multiple]) {
      color: var(--formkit-placeholder-color);
    }

    & option {
      font-size: var(--formkit-option-font-size);
    }
  }

  @nest input[type="checkbox"]&, input[type="radio"]& {
    appearance: auto;
    width: auto;
    position: absolute;
    left: -9999px;

    & ~ .formkit-decorator {
      display: block;
      box-sizing: content-box;
      width: var(--formkit-box-size);
      height: var(--formkit-box-size);
      flex: 0 0 var(--formkit-box-size);
      border: var(--formkit-decorator-border-width) solid var(--formkit-decorator-border-color);
      border-radius: var(--formkit-border-radius);
      margin: var(--formkit-decorator-padding);
      position: relative;
      background: var(--formkit-decorator-background);

      &::before {
        background: transparent;
        content: "";
        display: block;
        width: 55%;
        height: 20%;
        pointer-events: none;
        border-bottom: 0.2em solid transparent;
        border-left: 0.2em solid transparent;
        transform: rotate(-45deg);
        transform-origin: bottom left;
        position: absolute;
        bottom: 20%;
        left: 40%;
      }
    }

    &:checked ~ .formkit-decorator {
      border-color: var(--formkit-decorator-checked-color);

      &::before {
        border-color: var(--formkit-decorator-checked-color);
      }
    }
  }

  @nest input[type="radio"]& {
    & ~ .formkit-decorator {
      border-radius: var(--formkit-radio-border-radius);

      &::before {
        width: 50%;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 0;
        border-radius: 2em;
      }
    }
    &:checked ~ .formkit-decorator {
      &::before {
        background: var(--formkit-decorator-checked-color);
      }
    }
  }
}

.formkit-input:focus {
  outline: 0;
}

.formkit-help,
.formkit-option-help {
  font-size: var(--formkit-help-font-size);
  color: var(--formkit-help-color);
  margin: var(--formkit-help-margin-y) var(--formkit-help-margin-x);
}

.formkit-messages {
  padding: 0;
  margin: var(--formkit-messages-margin-y) var(--formkit-messages-margin-x);
}

.formkit-message {
  list-style-type: none;
  color: var(--formkit-error-color);
  font-size: var(--formkit-message-font-size);
  margin: var(--formkit-message-margin-y) var(--formkit-message-margin-x);
}

[data-type="checkbox"],
[data-type="radio"] {
  & [data-disabled] {
    opacity: 30%;
  }

  & .formkit-options {
    margin: var(--formkit-checkbox-options-margin);
    padding: 0;
  }

  & .formkit-option {
    list-style-type: none;
    margin: var(--formkit-box-option-margin);

    &:last-child {
      margin-bottom: 0;
    }
  }

  & fieldset.formkit-wrapper {
    margin-bottom: 0.5em;
    border: var(--formkit-border);
    border-radius: var(--formkit-border-radius);
    padding: var(--formkit-input-padding);

    & .formkit-help {
      margin-top: 0;
      margin-left: 0;
      margin-bottom: 1em;
    }
  }
}

[data-type="color"] {
  & .formkit-inner {
    max-width: 5em;
  }

  & input[type="color"] {
    /* These have to be unique to the prefix. No idea why: */
    &::-webkit-color-swatch-wrapper {
      padding: 0;
      border: 0;
    }

    &::-moz-color-swatch-wrapper {
      padding: 0;
      border: 0;
    }

    &::-webkit-color-swatch {
      border-radius: var(--formkit-border-radius);
      border: 0;
    }

    &::-moz-color-swatch {
      border-radius: var(--formkit-border-radius);
      border: 0;
    }
  }
}

[data-type="range"] {
  & .formkit-inner {
    border: 0;
  }

  & input {
    padding-left: 0;
    padding-right: 0;

    &::-webkit-slider-runnable-track {
      background-color: var(--formkit-border-color);
      height: 4px;
      border-radius: 4px;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      position: relative;
      transform: translateY(calc(-50% + 2px));
      width: 1em;
      height: 1em;
      border-radius: 1em;
      background-color: var(--formkit-range-thumb-color);
    }
  }
}

[data-type="textarea"] .formkit-inner {
  width: 100%;
  border: none;
}
[data-type="textarea"] textarea {
  min-width: 100%;
  min-height: 6em;
  line-height: 1.33;
  font-family: inherit;
  border: var(--formkit-border);
}
[data-type="textarea"] .formkit-inner:focus-within textarea {
  border-color: var(--formkit-focus-border-color);
}

